*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$boder-color: #ececec;
$border-hover: #ddd;
$white-color: #fff;
$order-color: #04aa6d;
$order-hover: green;
$footer-color: lightgray;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.button {
  padding: 8px 10px;
  border: 1px solid $boder-color;
  font-size: 16px;
  &:hover {
    background-color: $border-hover;
    cursor: pointer;
    transition: all ease 0.3;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 2px 5px rgba($color: #000000, $alpha: 0.2);
  background-color: $white-color;
  &__logo {
    width: 80px;
    height: 80px;
  }

  &__cart-view {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
  margin-top: auto;
  text-align: center;
  padding: 10px 16px;
  background-color: $footer-color;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 32px 1rem 0 1rem;
  padding: 0.25em;
  &__product {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.product {
  width: calc(90% / 3);
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 16px;
  &__img {
    max-width: 300px;
    aspect-ratio: 1;
    object-fit: contain;
    margin: 0 auto;
  }
  &__price {
    margin-bottom: 10px;
  }
}

.cart {
  &__thankyou {
    text-align: center;
  }
  th {
    padding: 1rem;
    text-align: left;
    border-bottom: 2px solid #ececec;
  }

  td {
    padding-left: 20px;
  }
  display: grid;
  grid-template-columns: 1fr max(500px);
  margin: 2rem auto;
  padding: 1em;
  max-width: 80%;

  &-item {
    border-right: 2px solid #ececec;
    padding: 2rem;
    &__name,
    &__price,
    &__qty,
    &__total {
      font-size: 20px;
    }
    &__table {
      width: 100%;
    }
    &__body-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 200px;
      }
      button {
        padding: 8px;
        cursor: pointer;
      }

      span {
        text-align: left;
      }
    }
    &__body-qty {
      select {
        width: 48px;
        height: 38px;
      }
    }
  }

  &-total {
    padding: 2rem;
    &__table {
      width: 100%;
    }
    &__heading {
      padding: 1rem 0;
      border-bottom: 2px solid #ececec;
      line-height: 1.6;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
    &__items {
      margin: 1rem 0;
    }
    &__price {
      margin-bottom: 1rem;
    }
    &__button {
      width: 100%;
      background-color: green;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      &:hover {
        background-color: rgba($color: green, $alpha: 0.7);
        transition: all ease 0.3s;
      }
    }
  }
}

@media only screen and (max-width: 739px) {
  .main {
    justify-content: center;
  }
  .product {
    width: 100%;
  }
  .cart {
    max-width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    td {
      padding: 0;
      text-align: center;
    }
    &-item {
      padding: 0;
      border-right: none;
      border-bottom: 2px solid $boder-color;
      font-size: 14px;
      &__table {
        padding: 10px;
      }
      &__name,
      &__price,
      &__qty,
      &__total {
        font-size: 14px;
      }
      &__body-detail img {
        display: none;
      }
      &__body-detail button {
        padding: 0;
      }
      &__body-qty select {
        width: 38px;
        aspect-ratio: 1;
      }
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .product {
    width: 90%;
  }
  .cart {
    max-width: 100%;
    grid-template-columns: 1fr;
    margin: 0;

    &-item {
      border-right: none;
      border-bottom: 2px solid $boder-color;
      &__body-detail img {
        max-width: 100px;
      }
      &__body-detail button {
        padding: 4px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .cart {
    max-width: 100%;
    margin: 0;
    grid-template-columns: auto auto;

    &-item {
      &__body-detail img {
        max-width: 100px;
      }
      &__body-detail button {
        padding: 4px;
      }
    }
  }
}
